<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success shadow" >
      <div class="panel-heading">
        <div class="panel-title">Edit My Profile</div>
        <div style="float:right; font-size: 80%; position: relative; top:-30px">

        </div>
      </div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <form id="loginform" class="form-horizontal" role="form">
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.input :first_name, label: "My First Name is" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.input :last_name, label:  "My Last Name is"  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <%= f.input :email, label: "My Email is" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <%= f.input :cellphone, label: "My Cellphone number is" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <%= f.input :street_address_1, label:  "My Street Address" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-pin"></i></span>
                <%= f.input :street_address_2, label:  "My additional address info (if any)" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <%= f.input :city, label: "City"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                <%= f.input :state, collection: Driver::States, label: "State", placeholder: "State" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div style="" class="">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                <%= f.input :zip_code, label: "My Zip Code"%>
                <%= f.input(:years_of_experience, label: "I have", 
                  input_html: { min: '0', step: '0.5', style: 'width: 100px'}) %> 
                  <strong>years of Commercial Driving Experience</strong>
              </div>
            </div>
            <div class="col-sm-8">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                <%= f.input :dob, label: "My Birthday is on" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <%= f.input :license_number, label:  "My license number is"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-o"></i></span>
                <%= f.input :social_number, label: "My SSN is"%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-ambulance"></i></span>
                <%= f.input :e_contact_name, label: "Please call (enter the persons name)" %>
                <strong>case of an emergency</strong>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-hospital-o"></i></span>
                <%= f.input :e_contact_number, label: "their number is" %>
              </div>
            </div>
          </div>
          <%= f.input :info, label: false, 
            placeholder: "Other Info about me"%> 
          <div class="row">
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-picture-o"></i></span>
                <%= f.input :license_image, as: :file, label: "Upload Your License" %> 
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa  fa-file-image-o"></i></span>
                <%= f.input :social_image, as: :file, 
                  label: "Upload Your SSN Card"  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <%= f.input :medical_image, as: :file, 
                  label: "Upload a copy of your medical card"  %>  
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-pdf-o"></i></span>
                <%= f.input :pdf, as: :file,
                  label: 'PDF File Upload' %> 
              </div>
            </div>
          </div>
          <%= f.input :hazmat, 
            label: 'Yep, I have a Hazardous Materials Endorsement' %>  
          <strong>What kind of trailer(s) do you want to pull?</strong>    
          <%= f.input :dryvan, 
            label: "DryVan" %>   
          <%= f.input :reefer, 
            label: 'I like it cool, get me a Reefer.' %>
          <%= f.input :flatbed, 
            label: 'Flatbed / Stepdeck' %>
            
         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.input :current_password, hint: "we need your current password to confirm your changes",
                  required: true %>              
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                  <%= f.button :submit, "Update", class: "btn btn-success btn-3d" %>
                </div>
              </div>
            </div>
          </div>
          <strong>
            <div class="text-center">
              If you want to change your password please enter it below then confirm
            </div>
            <br>
          </strong>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                <%= f.input :password, required: true, label: false, placeholder: "Enter a new password" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm your new password" %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>
      
