<div class='container color1'>
  <div class='well bg shadow'>
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-3">
          <%= f.input :full_name, required: true, autofocus: true %>
        </div>
        <div class="col-xs-3">
          <%= f.input :telephone, required: true %>
        </div>
        <div class="col-xs-3">
          <%= f.input :email, required: true %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3">
          <%= f.input :street_address_1, required: true %>
        </div>
        <div class="col-xs-3">
          <%= f.input :street_address_2, required: false %>
        </div>
        <div class="col-xs-2">
          <%= f.input :city, required: true %>
        </div>
        <div class="col-xs-2">
          <%= f.input :state, collection: Driver::STATES, label: "Select State", required: true %>
        </div>
        <div class="col-xs-2">
          <%= f.input :zip_code, required: true %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3">
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        </div>
        <div class="col-xs-3">
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 form-actions"><br />
          <%= f.button :submit, "Send It!", class: 'btn btn-success'  %>
        </div>
      </div>
    </div>
    <% end %>
    <%= render "drivers/shared/links" %>
  </div>
</div>