<div class="container">
  <div class='row'>
    <div class='col-sm-8'>
      <labeL>Signed In At</labeL> <%= @dispatcher.current_sign_in_at %><br />
  <labeL>Current IP Address </labeL> <%= @dispatcher.current_sign_in_ip %><br />
  <labeL>Total Drivers Tracked </labeL> 4<br />
  <labeL></labeL> <%= link_to "My Active Hauls", "#" %><br />
  <labeL></labeL> <%= link_to "Current Drivers", "#" %><br />
  <labeL></labeL> <%= link_to "Pending Loads", "#" %><br />
  <labeL></labeL> <%= link_to "Completed Loads", "#" %><br />
  <labeL></labeL> <%= link_to "Empty Trucks", "#" %><br />
  Etc...........
  
  <%= link_to "Home Page", root_path, class: 'btn btn-info' %>
    </div>
    <div class='col-sm-4'>
      <div class="well">
        <h2>Hey <%= @dispatcher.username %></h2>
        
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
        
          <div class="form-inputs">
            <%= f.input :username, required: true, autofocus: true %>
            <%= f.input :email, required: true %>
            <%= f.input :telephone, required: true %>
            <%= f.input :extention, required: true %>
            <%= f.input :office, required: true %>
        
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            
          </div>
        
          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>
        
       
        
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>