<div class="color round2">
<div class="media">
  <div class="pull-left">
    <strong>A note by: <%= office_driver_comment.user.full_name %><br /></strong> 
  </div>
  <div class="media-body">
    <p class="media-heading pull-right">
      Note added on <%= office_driver_comment.created_at.strftime("%A %b %d, %Y at %l:%M %p (UTC)") %>
    </p>
    <br />
    <%= office_driver_comment.body %>
  </div>
</div>
<br />
<%= link_to "Edit Note", 
  edit_driver_office_driver_comment_path(office_driver_comment.driver, 
  office_driver_comment),  
  class: "btn btn-success btn-xs round"  %>
<%= link_to "Delete Note", [office_driver_comment.driver, 
  office_driver_comment], method: :delete, data: { confirm: "Are you sure?" },  
    class: "btn btn-info btn-xs round"  %>