<div id="header" class="sticky shadow-after-3 clearfix">
<!-- TOP NAV -->
<header id="topNav">
  <div class="container">
    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
    <i class="fa fa-bars"></i>
    </button>
    <!-- BUTTONS -->
    <ul class="pull-right nav nav-pills nav-second-main">
    </ul>
    <!-- /BUTTONS -->
    <!-- Logo -->
    <a class="logo pull-left" href="index.html">
    <img src="assets/images/logo_dark.png" alt="" />
    </a>
    <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
      <nav class="nav-main">
        <ul id="topMain" class="nav nav-pills nav-main">
        <!-- HOME -->
        <li><%= link_to "HOME", root_path %></li>
        <li><a class="page-scroll" href="#about">ABOUT</a></li>
        <li><a class="page-scroll" href="#details">SOCIAL CLUB</a></li>
        <li><a class="page-scroll" href="#details">FLATBED</a></li>
        <li><a class="page-scroll" href="#details">DRY/REEFER</a></li>
        <li><a class="page-scroll" href="#details">HAZMAT</a></li>
        <li><%= link_to "WANNA DRIVE?", root_path %></li>
        
        <li><a class="page-scroll" href="#team">OUR TEAM</a></li>
        
        
        <li class="dropdown">
          <% if !current_dispatcher %>
          <a class="dropdown-toggle" href="#">
          SIGN IN
          </a>
          <% end %>
          <% if current_dispatcher %>
          <a class="dropdown-toggle" href="#">
          <%= current_dispatcher.username %>
          </a>
          <% end %>
          <ul class="dropdown-menu">
            <% if current_dispatcher %>
            <li><%= link_to "My Profile", edit_dispatcher_registration_path %></li> 
            <li><%= link_to "End My Session", destroy_dispatcher_session_path, method: :delete %></li>
            <% end %> 
            <% if !current_dispatcher %>
            <li><%= link_to "Create Dispatch Account", new_dispatcher_registration_path %></li>
            <li><%= link_to "Dispatch Log In", new_dispatcher_session_path %></li>
            <li><%= link_to "Driver Sign In", "#" %></li>
            <% end %>
          </ul>
        </li>
      </nav>
    </div>
  </div>
</header>
