<%= render 'IE8' %> 
<%= render 'head' %>  
<body class="smoothscroll enable-animation">
<%= render "topnav" %>
<%= render 'topslide' %> 
<% render 'infobar' %>

<section id="welcome">
  <%= render 'welcome' %> 
</section>

<section id="boxrow">
  <%= render 'boxrow' %>  
</section> 

<section id="realsupport">
  <%= render 'realsupport' %>   
</section> 


<%= render 'spinbox' %>          

<section id="dryvan">
  <%= render 'pages/trailertypes/dryvan' %> 
</section> 

<section id="reefer">
  <%= render 'pages/trailertypes/reefer' %> 
</section> 

<section id="flatbed">
  <%= render 'pages/trailertypes/flatbed' %> 
</section> 

<section id="oo">
  <%= render 'pages/trailertypes/oo' %>  
</section> 

<section id="teamdrivers">
  <%= render 'pages/trailertypes/team' %>  
</section> 

<section id="drivetoowner">
  <%= render 'pages/trailertypes/drivetoowner' %>  
</section> 

<%= render 'socialparalax' %>  

<section id="team">
  <%= render 'team' %> 
</section> 

<section id="news">
  <%= render 'news' %>  
</section> 
            
<%= render 'owl' %>   
<%= render 'footer' %>          
<%= render 'javascripts' %>    
</body>
