<%= render 'IE8' %> 
<%= render 'head' %>  
<body class="smoothscroll enable-animation">
<%= render "topnav" %>
<%= render 'topslide' %> 
<% render 'infobar' %>
<section class="nopadding" id="welcome">
  <%= render 'welcome' %> 
</section>
<section class="nopadding" id="boxrow">
  <%= render 'boxrow' %>  
</section> 
<section class="nopadding" id="realsupport">
  <%= render 'realsupport' %>   
</section> 
<%= render 'spinbox' %>          
<section class="nopadding" id="dryvan">
  <%= render 'pages/trailertypes/dryvan' %> 
</section> 
<section class="nopadding" id="reefer">
  <%= render 'pages/trailertypes/reefer' %> 
</section> 
<section class="nopadding" id="flatbed">
  <%= render 'pages/trailertypes/flatbed' %> 
</section> 
<section class="nopadding" id="oo">
  <%= render 'pages/trailertypes/oo' %>  
</section> 
<section class="nopadding" id="teamdrivers">
  <%= render 'pages/trailertypes/team' %>  
</section> 
<section class="nopadding" id="team">
  <%= render 'team' %> 
</section> 
<%= render 'socialparalax' %> 

<% render 'owl' %> 
<section class="nopadding" id="contact"></section> 
  <%= render 'footer' %>  

        
<%= render 'javascripts' %>    
</body>
