<%= render 'IE8' %> 
<%= render 'head' %>  
<body class="smoothscroll enable-animation">
<%= render "topnav" %>
<%= render 'topslide' %> 
<%= render 'infobar' %>          
<%= render 'welcome' %> 
<%= render 'boxrow' %>   
<%= render 'realsupport' %> 
<%= render 'spinbox' %>          
<%= render 'skillz' %>  
<%= render 'socialparalax' %>  
<%= render 'team' %>       
<%= render 'news' %>            
<%= render 'owl' %>   
<%= render 'footer' %>          
<%= render 'javascripts' %>    
</body>
