<h2>Editing User <%= @user.first_name %> <%= @user.last_name %></h2> 
  <%= simple_form_for @user do |f| %>
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success shadow" >
      <div class="panel-heading">
        <div class="panel-title"><%= f.input :office_location, 
        collection: User::OfficeLocation, label: "Office Location", required: true %>
        <%= f.input :dispatcher %>
        <%= f.input :office  %>
        <%= f.input :inactive %>
        <%= f.input :registered %>
        </div>
        <div style="float:right; font-size: 80%; position: relative; top:-30px">
        </div>
      </div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form">
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>


              
                 
                <%= f.input :first_name, label: false, placeholder: "What's your first name?" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.input :last_name, label: false, placeholder: "What's your last name?" %>
              </div>
            </div>
          </div>
          <%= f.input :updated_by, input_html:{ :value => @user.full_name }, as: :hidden %>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <%= f.input :email, label: false, placeholder: "Enter Your Email" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <%= f.input :cellphone, label: false, placeholder: "Telephone" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <%= f.input :street_address_1, label: false, placeholder: "Street Address" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-pin"></i></span>
                <%= f.input :street_address_2, label: false, placeholder: "Additional address info (if any)" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <%= f.input :city, label: false, placeholder: "City"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                <%= f.input :state, collection: Driver::States, label: false, placeholder: "State" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div style="" class="">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                <%= f.input :zip_code, label: false, placeholder: "What's Your Zip?"%>
              </div>
            </div>
            <div class="col-sm-8">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                <%= f.input :dob, start_year: 1930, label: false,  placeholder: "Enter Your Birthday" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-ambulance"></i></span>
                <%= f.input :e_contact_name, label: false, placeholder: "Who can we call in case of an emergency?" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-hospital-o"></i></span>
                <%= f.input :e_contact_number, label: false, placeholder: "What's their number?" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                  <%= f.button :submit, "Update", class: "btn btn-success btn-3d" %>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>