<div class="row">
    <div class="col-md-5 col-md-offset-3 ">
      <br> 
      <p class=" text-info">
        <small>
        Submitted on: 
        <%= @user.created_at.strftime("%A %B %e, %Y")%>
        Coordinated Universal Time (UTC)
        </small>
      </p>
      
      <%= %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-1" >
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.full_name %> 

          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
                            <%= link_to "Edit", edit_user_path(@user),
                class: "btn btn-primary btn-xs" %>
            </div>

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td>Position:</td>
                    <td><%= @user.model_user_status %></td>
                  </tr>
                  <tr>
                    <td>Account Updated On:</td>
                    <td>
                      <strong>
                        
                          <% if @user.updated_at.blank? %> 
                          Never Updated
                          <% else %> 
                          <%= @user.updated_at.strftime("%A, %d %b %Y at %l:%M %p (UTC)") %>
                           <%= @user.updated_by %>
                          <% end %> 
                      </strong>
                    </td>
                  </tr>
                  <tr>
                    <td>DOB/AGE</td>
                    <%if @user.dob.blank? %>
                    <td><%= @user.first_name %> did not enter a Birth Date</td>
                    <% else %>
                    <td>Was born on <%= @user.dob.strftime("%B %-d, %Y") %> and is 
                    <%= distance_of_time_in_words_to_now(@user.dob, 
                    only: :years) %> old</td>
                    <% end %>
                  </tr>
                    <td>Office</td>
                     <% if @user.office_location.present? %>
                    <td><%= @user.office_location.titleize %> </td>
                    <% end %>
                  </tr>                  

                  <tr>
                    <td>Street Address</td>
                    <td><%= @user.street_address_1 %></td>
                  </tr>
                  <tr>
                    <td>Street Address 2</td>
                    <td><%= @user.street_address_2 %></td>
                  </tr>
                  <tr>
                    <td>City / State</td>
                    <td><%= @user.city %>, <%= @user.state %></td>
                  </tr>
                  <tr>
                    <td>ZIP Code</td>
                    <td> <%= @user.zip_code %></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <td>Personal Telephone</td>
                    <td><%= @user.cellphone %></td>
                  </tr>
                  <tr>
                    <td>Office Phone/Extention</td>
                    <td><%= @user.office_phone %> Ext: <%= @user.extention %></td>
                  </tr>
                </tbody>
              </table>
              <%= link_to "Edit", edit_user_path(@user),
                class: "btn btn-primary btn-xs" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
