<div class="container">
  <h1><%= current_driver.first_name %>'s Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-3 ">
        <br> 
        <p class=" text-info">
          <small>
          Submitted on: 
          <%= @driver.created_at.strftime("%A %B %e, %Y")%>
          Coordinated Universal Time (UTC)
          </small>
        </p>
        <%= %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-1" >
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @driver.full_name %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center">
              </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                      <td>Status</td>
                      <td><%= @driver.employment_status.titleize %></td>
                    </tr>
                    <tr>
                      <td>Dispatcher</td>
                      <td><%= link_to "!missing_function!", "#" %></td>
                    </tr>
                    <tr>
                      <td>Truck</td>
                      <td><%= link_to "!missing_function!", "#" %></td>
                    </tr>
                    <tr>
                      <td>Trailer</td>
                      <td><%= link_to "!missing_function!", "#" %></td>
                    </tr>
                    <tr>
                      <td>Status Updated On</td>
                      <td>
                        <strong>
                        <% if @driver.updated_by.blank? %> 
                        Never Updated
                        <% else %> 
                        <%= @driver.updated_at.strftime("%A, %d %b %Y at %l:%M %p (UTC)") %><br />
                        By: <%= @driver.updated_by %>
                        <% end %> 
                        </strong>
                      </td>
                    </tr>
                    <tr>
                      <td>DOB/AGE</td>
                      <td>Was born on <%= @driver.dob.strftime("%B %-d, %Y") %> and is 
                        <%= distance_of_time_in_words_to_now(@driver.dob, 
                          only: :years) %> old
                      </td>
                    </tr>
                    <tr>
                      <td>Street Address</td>
                      <td><%= @driver.street_address_1 %></td>
                    </tr>
                    <tr>
                      <td>Street Address 2</td>
                      <td><%= @driver.street_address_2 %></td>
                    </tr>
                    <tr>
                      <td>City/State</td>
                      <td><%= @driver.city %>, <%= @driver.state %></td>
                    </tr>
                    <tr>
                      <td>ZIP Code</td>
                      <td> <%= @driver.zip_code %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= @driver.email %></td>
                    </tr>
                    <tr>
                      <td>Telephone</td>
                      <td><%= @driver.cellphone %></td>
                    </tr>
                    <tr>
                      <td>CDL #</td>
                      <td><%= @driver.license_number %></td>
                    </tr>
                    <tr>
                      <td>SSN</td>
                      <td><%= @driver.social_number %></td>
                    </tr>
                    <tr>
                      <td>Years of Experience</td>
                      <td><%= @driver.years_of_experience %></td>
                    </tr>
                    <tr>
                      <td>Has HazMat</td>
                      <td><%= @driver.hazmat_model %></td>
                    </tr>
                    <tr>
                      <td>Has Van Experience</td>
                      <td><%= @driver.dryvan_model %></td>
                    </tr>
                    <tr>
                      <td>Has Reefer Experience</td>
                      <td><%= @driver.reefer_model %></td>
                    </tr>
                    <tr>
                      <td>Has Flatbed/Stepdeck Experience</td>
                      <td><%= @driver.flatbed_model %></td>
                    </tr>
                    <tr>
                      <td>Emergecny Contact Name</td>
                      <td><%= @driver.e_contact_name %></td>
                    <tr>
                      <td>Emergency Contact Number</td>
                      <td><%= @driver.e_contact_number %></td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label>More Info</label><br />
    <p><%= @driver.info %></p>
  </div>
</div>