<div class="container">

  <h2>Editing Driver <%= @driver.full_name %></h2>

  <%= simple_form_for(@driver) do |f| %>

  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :employment_status, collection: Driver::E, label: "Internal Status", required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :updated_by, input_html:{ :value => @user.full_name }, as: :hidden %>

    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :telephone, required: true %>
    <%= f.input :street_address_1, required: true %>
    <%= f.input :street_address_2, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :state, collection: Driver::STATES, label: "Select State", required: true %>
    <%= f.input :zip_code, required: true %>
    <%= f.input :dob, start_year: 1930, label: "Date Of Birth" %>
    <%= f.input :e_contact_name, required: true, label: false, placeholder: "Emergency Contact's Name" %>
    <%= f.input :e_contact_number, required: true, label: false, placeholder: "Emergency Contact's Telephone" %>    
    <%= f.input :license_number, label: "License Number" %>
    <%= f.input :social_number, label: "Your SSN" %>
    
    <%= f.input(:years_of_experience, label: "Years of Commercial Driving Experience", 
      input_html: { min: '0', step: '0.5', style: 'width: 100px'}) %> 
  
    <%= f.input :license_image, as: :file, label: "Upload Your License" %> 
    <%= f.input :social_image, as: :file, 
      label: "Upload Your SSN Card"  %>
    <%= f.input :medical_image, as: :file, 
      label: "Upload a copy of your medical card"  %>  
    <%= f.input :pdf, as: :file,
      label: 'PDF File Upload' %> 
    
    <%= f.input :info, label: "Other information that may help us with your application"  %>   
    <%= f.input :hazmat, 
      label: 'Yep, I have a Hazardous Materials Endorsement' %>
    <%= f.input :dryvan, 
      label: "DryVan" %>   
    <%= f.input :reefer, 
      label: 'I like it cool, get me a Reefer.' %>
    <%= f.input :flatbed, 
      label: 'Flatbed / Stepdeck' %> 

    
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
  <% end %>
  <%= link_to "Back", :back %>

</div>
