<div class="container">  
  <h2>Edit</h2>
  
  <%= simple_form_for(@driver) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :state, collection: Driver::IDS, label: "Select Status", required: true %>
      <%= f.input :full_name, required: true, autofocus: true %>
      <%= f.input :telephone, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :street_address_1, required: true %>
      <%= f.input :street_address_2, required: true %>
      <%= f.input :city, required: true %>
      <%= f.input :state, collection: Driver::STATES, label: "Select State", required: true %>
      <%= f.input :zip_code, required: true %>
      <%= f.input :dob, start_year: 1930, label: "Date Of Birth" %>
      <%= f.input :license_number, label: "License Number" %>
      <%= f.input :social_number, label: "Your SSN" %>
              <label>Years of Commercial Driving Experience</label>
      <%= f.input(:years_of_experience, label: false, 
              input_html: { min: '0', step: '0.5', style: 'width: 100px'}) %> 
                      <label>Upload Your License</label>
      <%= f.input :license_image, as: :file, label: false %> 
      <%= f.input :social_image, as: :file, 
                  label: "Upload Your SSN Card"  %>
      <%= f.input :medical_image, as: :file, 
                label: "Upload a copy of your medical card"  %>  
      <%= f.input :pdf, as: :file,
              label: 'PDF File Upload' %> 
              <label>Other information that may help us with your application</label>    
      <%= f.input :info, label: false  %>   
      <%= f.input :hazmat, 
              label: 'Yep, I have a Hazardous Materials Endorsement' %>
      <%= f.input :dryvan, 
              label: "DryVan" %>   
      <%= f.input :reefer, 
                 label: 'I like it cool, get me a Reefer.' %>
      <%= f.input :flatbed, 
             label: 'Flatbed / Stepdeck' %> 
             
      
  
  
      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  
  
  <%= link_to "Back", :back %>
  
  </div>
