
<div class='container'>
	<% if %>	
	<% params[:employment_status] == "pending" %>
	<h4>Pending Driver Applications</h4>
	<% elsif %>
	<% params[:employment_status] == "approved" %>
	<h4>Approved.  Waiting for active status</h4>
		<% elsif %>
	<% params[:employment_status] == "active" %>
	<h4>Active Drivers</h4>	
		<% elsif %>
	<% params[:employment_status] == "declined" %>
	<h4>Declined Applications</h4>
		<% elsif %>
	<% params[:employment_status] == "suspended" %>
	<h4>Suspended Drivers</h4>
		<% elsif %>
	<% params[:employment_status] == "vacation" %>
	<h4>Drivers on vacation</h4>
		<% elsif %>
	<% params[:employment_status] == "fired" %>
	<h4>Fired Drivers</h4>
	<% elsif %>
	<h4>All Drivers</h4>
	<% end %>

	<%= paginate @drivers %> 
<table class="table table-bordered table-responsive">
	<thead>
		<tr>
			<th>
				<%= sort_link @search, :id, "Driver ID" %>
				
			</th>
			<th>
				<div class="btn-group">
<button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
		Employment Status <span class="caret"></span></button>
<ul class="dropdown-menu" role="menu">
              
  <li><%= link_to "Pending Approval", drivers_path(employment_status: "pending") %></li>
  <li><%= link_to "Submitted", drivers_path(employment_status: "submitted") %></li>
  <li><%= link_to "Approved", drivers_path(employment_status: "approved") %></li>
  <li><%= link_to "Active", drivers_path(employment_status: "active") %></li>
  <li><%= link_to "Declined", drivers_path(employment_status: "declined") %></li>
  <li><%= link_to "Suspended", drivers_path(employment_status: "suspended") %></li>
  <li><%= link_to "Vacation", drivers_path(employment_status: "vacation") %></li>
  <li><%= link_to "Fired", drivers_path(employment_status: "fired") %></li> 
<li class="divider"></li>
<li><%= link_to "All Drivers", drivers_path %></li>
</ul>
</div>
			</th>
			<th>
				Driver's Name
			</th>
			<th>
				Home Address
			</th>
			<th>
				Years of Experience
			</th>
			<th>
				Hazmat?
			</th>
			<th>
				Submitted On
			</th>
			<th>
		   Updated By
			</th>
		</tr>
	</thead>
	<% @drivers.each do |driver| %>
	<tbody>
		<tr>
			<td>
				<%= link_to driver do %>
				<%= driver.id %>
				<% end %>
			</td>
			<td>
				<%= link_to driver do %>
				<%= driver.employment_status.titleize %>
				<% end %>
			</td>
			<td>
				<%= link_to driver do %>
				<%= driver.full_name %>
				<% end %>
			</td>
			<td>
				<%= driver.city %>, <%= driver.state %>
			</td>
			<td>
				<%= driver.years_of_experience %>
			</td>
			<td>
				<%= driver.hazmat_model %>
			</td>
			<td>
				<%= driver.created_at.strftime("%A %B %e, %Y") %> 
			</td>
			<td>
        <% if driver.updated_by.blank? %> 
        Never Updated
        <% else %> 
        <%= driver.updated_by %>
        <% end %> 
			</td>
		</tr>
	</tbody>
	<% end %>
</table>

<%= paginate @drivers %> 

</div>

     