<div class='container'>
	<%= paginate @drivers %> 
<table class="table table-bordered table-responsive">
	<thead>
		<tr>
			<th>
				Driver ID
			</th>
			<th>
				Status
			</th>
			<th>
				Driver Name
			</th>
			<th>
				Location
			</th>
			<th>
				Years of Experience
			</th>
			<th>
				Hazmat
			</th>
			<th>
				Updated On
			</th>
			<th>
		
			</th>
		</tr>
	</thead>
	<% @drivers.each do |driver| %>
	<tbody>
		<tr>
			<td>
				<%= driver.id %>
			</td>
			<td>
				<%= driver.internal_driver_status %>
			</td>
			<td>
				<%= driver.full_name %>
			</td>
			<td>
				<%= driver.city %>, <%= driver.state %>
			</td>
			<td>
				<%= driver.years_of_experience %>
			</td>
			<td>
				<% if driver.hazmat == true %>
				Yes
				<% else %>
				No
				<% end %>
			</td>
			<td>
				<%= driver.updated_at.strftime("%A %B %e, %Y") %> 
			</td>
			<td>
			  <%= link_to "View Driver",driver, class: 'btn btn-primary btn-xs' %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>
<%= paginate @drivers %> 
</div>

     