<div class='container color1'>  
  <div class='well bg'>
    <%= simple_form_for @driver_application do |da| %>
    
    <h1>GDT Express Confidential Driver Application</h1>
    <hr>
        <div class="row">
          <div class="col-xs-3">Driver Name</div>
          <div class="col-xs-2">
            <%=  %>Street Address
          </div>
          <div class="col-xs-1">
            <%= da.input :apartment_number, label: "Apartment" %>
          </div>
        <div class="col-xs-2"><%= da.input :town_city, label: "City" %></div>
          <div class="col-xs-2">
            <label>Select State</label>
            
            <%= da.input :state, collection: DriverApplication::STATES, label: "Select State" %> 
          </div>
          <div class="col-xs-2"><%= da.input :zip_code, label: "ZIP Code" %></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-4"><%= da.input :dob, start_year: 1930, label: "Date Of Birth" %></div>
        <div class="col-xs-2"><%= da.input :telephone, label: "Mobile Number" %></div>
        <div class="col-xs-2"><%= da.input :email, label: "Contact Email" %> </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-2"></div>
    </div>
     
      <hr>
    <div class="row">
      <div class="col-xs-3">
        <label>Years of Commercial Driving Experience</label>
        <%= da.input(:years_of_experience, label: false, 
            input_html: { min: '0', step: '0.5', style: 'width: 100px'}) %> 
      </div>
      <div class="col-xs-3">
 
          </div>
            <div class="col-xs-3">
  
          </div>
          <div class="col-xs-3">

          </div>
        </div>
        <hr>
            <blockquote class="blockquote">
      <p class="m-b-0">

      </p>
    </blockquote> 


      
   <blockquote class="blockquote">
    <p class="m-b-0">

    </p>
  </blockquote>

             
  <label>What kind of trailder do you wanna pull? (select as many as you like)</label>
    <blockquote class="blockquote">
      <p class="m-b-0">

      </p>
    </blockquote>
    <blockquote class="blockquote">
      <p class="m-b-0">

      </p>
    </blockquote>
    <blockquote class="blockquote">
      <p class="m-b-0">

      </p>
    </blockquote> 
    
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-4"></div>
    </div>
      

      <%= da.submit "Send It", class: "btn btn-success" %>
      
      <% end %>
  </div>
</div>  

