<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3 ">
      
      
      <br>
      <p class=" text-info">
        Submitted on: 
        <%= @driver_application.created_at.strftime("%A %B %e, %Y")%>
        Coordinated Universal Time (UTC)
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-1" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @driver_application.full_name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">image here</div>
            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
              <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                   <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
              </dl>
              </div>-->
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Status:</td>
                    <td><%= @driver_application.status %></td>
                  </tr>
                  <tr>
                    <td>Status Updated On:</td>
          <td><%= @driver_application.updated_at.strftime("%A, %d %b %Y at %l:%M %p (UTC)") %>
          By: <%= @dispatcher.username %>
          </td>
  
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td><%= @driver_application.dob %></td>
                  </tr>
                  <tr>
                    <td>Age</td>
                    <td>01/24/1988</td>
                  </tr>
                  <tr>
                    <td>Street Address</td>
                    <td><%= @driver_application.street_address %></td>
                  </tr>
                  <tr>
                    <td>Apartment #</td>
                    <td><%= @driver_application.apartment_number %></td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td><%= @driver_application.town_city %></td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td><%= @driver_application.state %></td>
                  </tr>
                  <tr>
                    <td>ZIP Code</td>
                    <td> <%= @driver_application.zip_code %></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @driver_application.email %></td>
                  </tr>
                  <tr>
                    <td>Telephone</td>
                    <td><%= @driver_application.telephone %></td>
                  </tr>
                  <tr>
                    <td>CDL #</td>
                    <td><%= @driver_application.license_number %></td>
                  </tr>
                  <tr>
                    <td>SSN</td>
                    <td><%= @driver_application.social_number %></td>
                  </tr>
                  <tr>
                    <td>Years of Experience</td>
                    <td><%= @driver_application.years_of_experience %></td>
                  </tr>
                  <tr>
                    <td>Has HazMat</td>
                    <td><%= @driver_application.hazmat %></td>
                  </tr>
                  <tr>
                    <td>Van</td>
                    <td><%= @driver_application.dryvan %></td>
                  </tr>
                  <tr>
                    <td>Reefer</td>
                    <td><%= @driver_application.reefer %></td>
                  </tr>
                  <tr>
                    <td>Flatbed / Stepdeck</td>
                    <td><%= @driver_application.flatbed %></td>
                  </tr>
                  <tr>
                    <td>PDF Document</td>
                    <td>
                      <% if @driver_application.pdf_url.present? %>
                      <a href="<%= @driver_application.pdf_url(:pdf) %>"target="_blank">View PDF</a>
                      <% else %>
                       No File Uploaded
                    <% end %>  
                    </td>
                  </tr>
                </tbody>
              </table>
              <%= link_to "Edit", edit_driver_application_path(@driver_application), 
                  class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <label>More Info</label><br />
  <p><%= @driver_application.info %></p>
  <div class="row">
    <div class="col-xs-4">
      <label>License</label><br />
      <% if @driver_application.license_image_url.present? %>
      <%= image_tag @driver_application.license_image_url(:driver_application) %>
      <% else %>
      <%= image_tag('noimage.png') %>
      <% end %>  
    </div>
    <div class="col-xs-4">
      <label>SSN</label><br />
      <% if @driver_application.social_image_url.present? %>
      <p><%= image_tag @driver_application.social_image_url(:driver_application) %></p>
      <% else %>
      <%= image_tag('noimage.png') %>
      <% end %> 
    </div>
    <div class="col-xs-4">
      <label>Medical</label><br />
      <% if @driver_application.medical_image_url.present? %>
      <p><%= image_tag @driver_application.medical_image_url(:driver_application) %></p>
      <% else %>
      <%= image_tag('noimage.png') %>
      <% end %>  
    </div>
  </div>
</div>





