<div class ='container'>
  <p><%= @driver_application.full_name %></p>
  <p><%= @driver_application.street_address %></p> 
  <p><%= @driver_application.town_city %></p>
  <p><%= @driver_application.state %></p>
  <p><%= @driver_application.zip_code %></p>
  <p><%= @driver_application.license_number %></p>
  <p><%= @driver_application.license_image %></p>
  <p><%= @driver_application.social_number %></p>
  <p><%= @driver_application.social_image %></p>
  <p><%= @driver_application.medical_image %></p>
  <p><%= @driver_application.years_of_experience %></p>
  <p><%= @driver_application.info %></p>
  <p><%= @driver_application.hazmat %></p>         
  <p><%= @driver_application.dryvan %></p>
  <p><%= @driver_application.reefer %></p>
  <p><%= @driver_application.flatbed %></p>
  <p><%= @driver_application.telephone %></p>
  <p><%= @driver_application.email %></p>
</div>