<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success shadow" >
      <div class="panel-heading">
        <div class="panel-title">Editing Driver <%= @driver.full_name %></div>
        <div style="float:right; font-size: 80%; position: relative; top:-30px">
        </div>
      </div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <%= simple_form_for(@driver) do |f| %>
        <%= f.error_notification %>
        <form id="loginform" class="form-horizontal" role="form">
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.input :employment_status, collection: Driver::EmploymentStatus, label: "Internal Status", required: true %>
                <%= f.input :first_name, label: false, placeholder: "What's your first name?" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.input :last_name, label: false, placeholder: "What's your last name?" %>
                <% if current_user %>
                <%= f.input :updated_by, input_html:{ :value => @user.full_name }, as: :hidden %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <%= f.input :email, label: false, placeholder: "Enter Your Email" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <%= f.input :cellphone, label: false, placeholder: "Telephone" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <%= f.input :street_address_1, label: false, placeholder: "Street Address" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-pin"></i></span>
                <%= f.input :street_address_2, label: false, placeholder: "Additional address info (if any)" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <%= f.input :city, label: false, placeholder: "City"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                <%= f.input :state, collection: Driver::States, label: false, placeholder: "State" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div style="" class="">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                <%= f.input :zip_code, label: false, placeholder: "What's Your Zip?"%>
                <%= f.input(:years_of_experience, label: "Years of Commercial Driving Experience", 
                  input_html: { min: '0', step: '0.5', style: 'width: 100px'}) %> 
              </div>
            </div>
            <div class="col-sm-8">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                <%= f.input :dob, label: false,  placeholder: "Enter Your Birthday" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <%= f.input :license_number, label: false, placeholder: "What's Your Driver License Number?"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-o"></i></span>
                <%= f.input :social_number, label: false, placeholder: "What's Your SSN?"%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-ambulance"></i></span>
                <%= f.input :e_contact_name, label: false, placeholder: "Who can we call in case of an emergency?" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-hospital-o"></i></span>
                <%= f.input :e_contact_number, label: false, placeholder: "What's their number?" %>
              </div>
            </div>
          </div>
          <%= f.input :info, label: false, 
            placeholder: "Other information that may help us with your application"%> 
          <div class="row">
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-picture-o"></i></span>
                <%= f.input :license_image, as: :file, label: "Upload Your License" %> 
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa  fa-file-image-o"></i></span>
                <%= f.input :social_image, as: :file, 
                  label: "Upload Your SSN Card"  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <%= f.input :medical_image, as: :file, 
                  label: "Upload a copy of your medical card"  %>  
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-pdf-o"></i></span>
                <%= f.input :pdf, as: :file,
                  label: 'PDF File Upload' %> 
              </div>
            </div>
          </div>
          <%= f.input :hazmat, 
            label: 'Yep, I have a Hazardous Materials Endorsement' %>  
          <strong>What kind of trailer(s) do you want to pull?</strong>    
          <%= f.input :dryvan, 
            label: "DryVan" %>   
          <%= f.input :reefer, 
            label: 'I like it cool, get me a Reefer.' %>
          <%= f.input :flatbed, 
            label: 'Flatbed / Stepdeck' %> 
          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                  <%= f.button :submit, "Update", class: "btn btn-success btn-3d" %>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>