<div class="container">
  <h3>Updating employment status for Driver: <%= @driver.first_name %> <%= @driver.last_name %></h3>
  <%= simple_form_for(@driver) do |f| %>
    <%= f.error_notification %>
  
    <%= f.input :employment_status, collection: Driver::EmploymentStatus, 
      label: "Employment Status", required: true %>
    
    <%= f.input :driver_declined, label: "Reason for declining application" %>
    
    <%= f.button :submit, "Update", class: "btn btn-success btn-3d" %>
    <%= f.input :updated_by, input_html:{ :value => @user.full_name }, as: :hidden %>
  <% end %>
</div>


